akregatorrc
arkrc
autostart
baloofileinformationrc
baloofilerc
bleachbit
bluedevilglobalrc
BraveSoftware
dconf
deluge
device_automounter_kcmrc
discord
dlv
dolphinrc
Electron
environment.d
falkon
garuda
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
i3
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate
katemetainfos
katerc
kateschemarc
katevirc
kcalcrc
kcminputrc
kconf_updaterc
KDE
kde.org
kdeconnect
kded5rc
kdedefaults
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kmixrc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
Kvantum
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
libinput-gestures.conf
libreoffice
lvim.old
menus
micro
mimeapps.list
mpv
nemo
neofetch
nitrogen
nordvpn
nvim.astro
nvim.bak
okularpartrc
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace
plasmarc
plasmashellrc
polybar
powermanagementprofilesrc
protonvpn
psd
pulse
qBittorrent
QtProject.conf
ranger
session
smplayer
spectaclerc
starship.toml
systemd
systemmonitorrc
systemsettingsrc
TabNine
touchpadrc
touchpadxlibinputrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBox
VirtualBoxrc
vlc
xdg-desktop-portal-kderc
xmobar
xmonad
xsettingsd
yakuakerc
yay
emacs
Code - OSS
Thunar
bpytop
xfce4
Code/
cheat/
filezilla/
htop/
GitKraken/
Android Open Source Project/
Google/
aichat/
flutter/
github-copilot/
jxbrowser/
nvim/lua/plugins/firenvim-browser.lua
